.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
  
}
.footer{
    background-color :rgb(229, 226, 226);
    margin: -10px -10px -20px ;
    bottom:0;
}
.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
    }
